.fading-text-wrapper {
  position: relative;
}

.fading-text {
  white-space: nowrap;
  color: black;
  @mixin dark { color: white;}
}

.fade-item {
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-entering {
  opacity: 0;
  transform: translateX(100%);
}

.fade-active {
  opacity: 1;
  transform: translateX(0);
}

.fade-exiting {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateX(-100%);
}
