.resources {
    border-top-left-radius: var(--mantine-radius-md);
    border-bottom-left-radius: var(--mantine-radius-md);
    @mixin light { background-color: var(--mantine-color-yellow-filled); }
    @mixin dark { background-color: var(--mantine-color-yellow-8); }
}

.influence {
    @mixin light { background-color: var(--mantine-color-blue-4); }
    @mixin dark { background-color: var(--mantine-color-blue-8); }
}

.influence.withBorder {
    border-top-right-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
}

.flex {
    border-top-right-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
    @mixin light { background-color: var(--mantine-color-purple-2); }
    @mixin dark { background-color: var(--mantine-color-purple-6); }
}

.text {
    @mixin dark { color: white;}
}