.resources {
    border-radius: 4px;
    min-width: 26px;
    text-align: center;
    @mixin light { background-color: var(--mantine-color-yellow-6); }
    @mixin dark { background-color: var(--mantine-color-yellow-7); }
}

.influence {
    border-radius: 4px;
    min-width: 26px;
    text-align: center;
    @mixin light { background-color: var(--mantine-color-blue-6); }
    @mixin dark { background-color: var(--mantine-color-blue-7); }
}

.flex {
    border-radius: 4px;
    min-width: 26px;
    text-align: center;
    @mixin light { background-color: var(--mantine-color-grape-6); }
    @mixin dark { background-color: var(--mantine-color-grape-6); }
}

.text {
    font-weight: 700;
    font-variant-numeric: tabular-nums;
    line-height: 1.4;
    @mixin light { color: white; }
    @mixin dark { color: white; }
}