.stats {
    align-items: center;
    gap: var(--mantine-spacing-xs);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);

    @mixin light { background-color: var(--mantine-color-gray-1) }
    @mixin dark { background-color: var(--mantine-color-dark-7) }
}

.features {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1) inset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 50px;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);

    @mixin light { background-color: var(--mantine-color-gray-2) }
    @mixin dark { background-color: var(--mantine-color-dark-6) }
}

.map {
    padding-top: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-md);
    @mixin light { background-color: transparent }
    @mixin dark { background-color: var(--mantine-color-dark-7) }
}

.slice-text {
    @mixin light { color: white }
    @mixin dark { color: var(--mantine-color-dark-0) }
}

.slice-text.selected {
    @mixin light { color: var(--mantine-color-gray-8) }
    @mixin dark { color: var(--mantine-color-dark-3) }
}

.header {
    gap: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @mixin light { background-color: var(--mantine-color-spaceBlue-filled);  }
    @mixin dark { background-color: var(--mantine-color-dark-6); }
}

.header.selected {
    @mixin light { background-color: var(--mantine-color-gray-3); }
}


