.editableSliceName input {
    font-family: "Orbitron", sans-serif;
}

.stats {
    align-items: center;
    gap: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-top: 1px solid;

    @mixin light {
        background-color: var(--mantine-color-gray-0);
        border-color: var(--mantine-color-gray-2);
    }
    @mixin dark {
        background-color: var(--mantine-color-dark-7);
        border-color: var(--mantine-color-dark-5);
    }
}

.features {
    border-top: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 40px;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    display: flex;
    align-items: center;

    @mixin light {
        background-color: var(--mantine-color-gray-0);
        border-color: var(--mantine-color-gray-2);
    }
    @mixin dark {
        background-color: var(--mantine-color-dark-6);
        border-color: var(--mantine-color-dark-5);
    }
}

.map {
    padding-top: var(--mantine-spacing-xs);
    padding-bottom: var(--mantine-spacing-sm);
    @mixin light { background-color: transparent }
    @mixin dark { background-color: var(--mantine-color-dark-7) }
}

.slice-text {
    @mixin light { color: white }
    @mixin dark { color: var(--mantine-color-dark-0) }
}


.magenta .slice-text,
.orange .slice-text,
.blue .slice-text,
.red .slice-text,
.green .slice-text,
.violet .slice-text,
.gray .slice-text,
.cyan .slice-text {
    @mixin light { color: var(--mantine-color-gray-8) }
    @mixin dark { color: var(--mantine-color-dark-3) }
}



.header {
    gap: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @mixin light { background-color: var(--mantine-color-spaceBlue-filled); }
    @mixin dark { background-color: var(--mantine-color-dark-5); }
}



.magenta .header, .magenta .features {
    background-color: color-mix(in srgb, var(--mantine-color-magenta-filled) 10%, transparent);

}

.magenta {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-magenta-filled);
}

.orange .header, .orange .features {
    background-color: color-mix(in srgb, var(--mantine-color-orange-filled) 10%, transparent);
}

.orange {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-orange-filled);
}

.blue .header, .blue .features {
    background-color: color-mix(in srgb, var(--mantine-color-blue-filled) 10%, transparent);
}

.blue {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-blue-filled);
}

.red .header, .red .features {
    background-color: color-mix(in srgb, var(--mantine-color-red-filled) 10%, transparent);
}

.red {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-red-filled);
}

.green .header, .green .features {
    background-color: color-mix(in srgb, var(--mantine-color-green-filled) 10%, transparent);
}

.green {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-green-filled);
}

.gray .header, .gray .features {
    background-color: color-mix(in srgb, var(--mantine-color-gray-4) 10%, transparent);
}

.gray {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-gray-4);
}

.cyan .header, .cyan .features {
    background-color: color-mix(in srgb, var(--mantine-color-cyan-filled) 10%, transparent);
}

.cyan {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-cyan-filled);
}

.violet .header, .violet .features {
    background-color: color-mix(in srgb, var(--mantine-color-violet-filled) 10%, transparent);
}

.violet {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-violet-filled);
}
