.modify-tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }
}

.tile-dimmed {
    opacity: 0.25;
    transition: opacity 150ms ease;
}
