.section {
  border-top-left-radius: 8px;

  @mixin dark {
    background: var(--mantine-color-dark-7);
    border-bottom: 1px solid var(--mantine-color-dark-5);
  }

  @mixin light {
    background: var(--mantine-color-spaceBlue-1);
    border-bottom: 1px solid var(--mantine-color-spaceBlue-1);
  }
}