.section {
  border-radius: 4px;
  border-bottom: 1px solid var(--mantine-color-default-border);

  @mixin dark {
    background: var(--mantine-color-dark-7);
  }

  @mixin light {
    background: var(--mantine-color-gray-0);
  }
}
