.surface {
    @mixin light {background-color: var(--mantine-color-gray-1);}
    @mixin dark {background-color: var(--mantine-color-dark-6);}
}

.surface.withBorder {
    border: 1px solid;
    @mixin light { border-color: rgba(0, 0, 0, 0.1); }
    @mixin dark { border-color: var(--mantine-color-dark-5); }
}
